PORT=4000
DOMAIN="localhost"
PROTOCOL="http"

DATABASE_URL=""
DIRECT_URL=""

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""

ACCESS_TOKEN_EXPIRES_IN="1h"
REFRESH_TOKEN_EXPIRES_IN="100d"
GUEST_ACCESS_TOKEN_EXPIRES_IN="15m"
GUEST_REFRESH_TOKEN_EXPIRES_IN="12h"

INITIAL_EMAIL_OWNER=""
INITIAL_PASSWORD_OWNER=""

CLIENT_URL=""

DOCKER=false
PRODUCTION=false
PRODUCTION_URL=""

PAUSE_SOME_ENDPOINTS=false